* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    background-color: rgb(78, 78, 78);
    background-image: url("../images/lib1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.container {
    margin-bottom: 1.0rem;
}

.container--sub {
    margin: 1.0rem;
    background-color: rgb(157, 84, 89);
    color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1.0rem;
}

label {
    margin: 0.5rem 0;
}

#heading {
    font-family: "Merriweather", serif;
    background-color: rgb(50, 55, 77);
    padding: 0.5rem;
    border-bottom: 1px solid #000;
    margin-bottom: 2.0rem;
}

.white-text-shadow {
    color: #fff;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    text-align: center;
}

#book-info {
    display: flex;
    padding: 1.0rem;
}

.highlight {
    background-color: rgb(245, 248, 90);
    color: rgb(44, 44, 44);
}

.cross-out {
    text-decoration: line-through;
}

#books {
    font-family: "Raleway", sans-serif;
    margin: 1.0rem;
}

table, th, td {
    table-layout: fixed; /* size content according to width of headings */
    width: 100%; /* expand to fit any container size */
    border-collapse: collapse; /* collapse to one border */
    border: 2px solid #fff;
    text-align: center;
    background-color: rgb(44, 44, 44);
}

.btn {
    padding: 0.3rem;
    border-radius: 5px;
    background-color: rgb(236, 171, 136);
    border: 1px solid #000;
    box-shadow: 1px 1px 1px #000;
    cursor: pointer;
    font-weight: 700;
    font-family: "Raleway", serif;
}

.btn--book {
    margin-top: 1.0rem;
}

#erase-btn {
    border: 1px solid #fff;
    background-color: rgb(170, 8, 8);
    margin-left: 1.0rem;
}

#erase-btn:hover {
    background-color: rgb(197, 61, 61);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal--content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    background-color: #fff;
    padding: 1.0rem 1.5rem;
    width: 24.0rem;
    border-radius: 0.5rem;
    font-family: "Merriweather", sans-serif;
}

.modal--text {
    margin-bottom: 1.0rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.btn--choices {
    margin-right: 1.0rem;
}

footer {
    background-color: rgb(50, 55, 77);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #000;
}

.info {
    margin: 0.5rem;
}

.social {
    text-align: center;
    margin: 0.5rem;
    font-size: 1.2rem;
}

.social a {
    color: #fff;
}

.social-icons {
    text-align: center;
}

.social-icons a {
    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: #fff;
}

@media screen and (min-width: 1200px) {
    .form {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}