* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    background-color: rgb(78, 78, 78);
    background-image: url("../images/lib1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

#heading {
    font-family: "Merriweather", sans-serif;
    background-color: rgb(10, 10, 10);
}

input:valid {
    border: 2px solid #000;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

#book-info {
}

#organize {
}

.container {
    margin: 1.0rem;
}

#books {
    margin: 1.0rem;
}

table, th, td {
    table-layout: fixed; /* size content according to width of headings */
    width: 100%; /* expand to fit any container size */
    border-collapse: collapse; /* collapse to one border */
    border: 2px solid #fff;
    text-align: center;
    background-color: rgb(44, 44, 44);
}

.btn {
    padding: 0.3rem;
    border-radius: 5px;
    background-color: rgb(80, 136, 172);
    border: 1px solid #000;
}

#erase-btn {
    border: 1px solid #fff;
    background-color: rgb(170, 8, 8);
}

#erase-btn:hover {
    background-color: rgb(197, 61, 61);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal--content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    background-color: #fff;
    padding: 1.0rem 1.5rem;
    width: 24.0rem;
    border-radius: 0.5rem;
    font-family: "Merriweather", sans-serif;
}

.modal--text {
    margin-bottom: 1.0rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.btn--choices {
    margin-right: 1.0rem;
}