* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    background-color: rgb(78, 78, 78);
    background-image: url("../images/lib1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

#heading {
    background-color: rgb(0, 119, 255);
}

#book-info {
    background-color: rgb(81, 0, 255);
}

#organize {
    background-color: rgb(133, 16, 16);
}